In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset = pd.read_csv('kc_house_data.csv')
dataset.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,sqft_above,sqft_basement
0,7129300520,20141013T000000,221900,3,1.00,1180,5650,1.0,1180,0
1,6414100192,20141209T000000,538000,3,2.25,2570,7242,2.0,2170,400
2,5631500400,20150225T000000,180000,2,1.00,770,10000,1.0,770,0
3,2487200875,20141209T000000,604000,4,3.00,1960,5000,1.0,1050,910
4,1954400510,20150218T000000,510000,3,2.00,1680,8080,1.0,1680,0

In [3]:
dataset = dataset.drop(['id','date'], axis = 1)

In [4]:
X = dataset.iloc[:,1:].values
y = dataset.iloc[:,0].values

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 1/3, random_state = 0)

In [6]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

# Predicting the Test set results
y_pred = regressor.predict(X_test)

In [7]:
np.set_printoptions(precision=2)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[ 501423.43  250000.  ]
 [ 703686.87  653000.  ]
 [ 440967.89  380000.  ]
 [ 304270.19  532170.  ]
 [1017715.56  921500.  ]
 [ 574109.69  360000.  ]
 [ 833599.43  488000.  ]
 [ 438251.87  320000.  ]
 [1114644.68 1072000.  ]
 [ 696928.9   465000.  ]
 [ 518552.12  247500.  ]
 [ 458176.1   297000.  ]
 [ 444522.79  356000.  ]
 [ 433541.04  399950.  ]
 [ 462231.35  438000.  ]
 [ 264125.98  470000.  ]
 [ 712659.94  885000.  ]
 [ 281011.6   518500.  ]
 [ 315017.7   516500.  ]
 [ 323447.71  153000.  ]
 [ 328822.42  226500.  ]
 [ 321758.52  199000.  ]
 [ 907941.67  900000.  ]
 [ 234627.83  335000.  ]
 [ 349301.15  309000.  ]
 [ 264255.22  425000.  ]
 [ 594545.88  640000.  ]
 [ 303279.36  570000.  ]
 [ 358163.83  549000.  ]
 [ 489064.19  470000.  ]
 [ 366294.33  171800.  ]
 [ 504304.87  229500.  ]
 [ 577388.7   585188.  ]
 [ 400352.99  425000.  ]
 [ 478560.74  430000.  ]
 [1438989.55 1225000.  ]
 [ 522387.25  285000.  ]
 [ 686825.34 1450000.  ]
 [ 388447.27  310000.  ]
 [1045339.15  917500.  ]
 [ 404267.31  455000.  ]
 [ 383457.75  479950.  ]
 [ 312948.    188500.  ]
 [ 998134.65  650000.  ]
 [ 826459.12  832500.  ]
 [ 529840.55  269950.  ]
 [ 599314.35  416000.  ]
 [ 240283.93  212000.  ]
 [ 474045.94  349000.  ]
 [ 495046.2   328000.  ]
 [ 811551.75  680000.  ]
 [ 341399.54  189000.  ]
 [ 663090.89  840000.  ]
 [ 726795.83  650000.  ]
 [ 288301.1   325000.  ]
 [ 253780.77  291850.  ]
 [ 396657.9   235000.  ]
 [ 373676.46  260000.  ]
 [ 706308.75  890000.  ]
 [ 489602.41  255000.  ]
 [ 357870.43  477000.  ]
 [ 535891.37  445000.  ]
 [ 385228.24  430000.  ]
 [ 553249.12  597750.  ]
 [ 504463.79  555000.  ]
 [ 281236.66  535000.  ]
 [ 316866.44  215000.  ]
 [ 217831.01  519950.  ]
 [ 573857.91  325000.  ]
 [1186537.75  472000.  ]
 [ 489319.42  464000.  ]
 [ 451313.37  243500.  ]
 [ 469089.59  395000.  ]
 [ 769340.81  770000.  ]
 [ 566826.77  589000.  ]
 [ 796771.39  835000.  ]
 [ 417983.85  510000.  ]
 [ 280302.5   230000.  ]
 [ 301940.35  289000.  ]
 [ 208431.16  395000.  ]
 [ 349013.38  600000.  ]
 [ 679696.96  975000.  ]
 [ 655654.35  937000.  ]]

In [10]:
from sklearn.metrics import r2_score
print(regressor.coef_)
print(regressor.intercept_)
print(r2_score(y_test, y_pred))

[-1.80e+04 -5.29e+04  2.07e+02  1.50e-01 -1.44e+04  1.01e+02  1.05e+02]
73888.25753011584
0.3999284100507383

bedrooms*-1800 + bathrooms*(-5290)	sqft_living	sqft_lot	floors	sqft_above sqft_basement